
body{
    background: url("images/1648227142_5-abrakadabra-fun-p-serdechki-fon-yutub-5.png");
     background-size: cover; 
  background-attachment: fixed; 
  height: 100vh; 
  width: 100vw;  
  margin: 0;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-view{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    opacity: 1;
    transition: opacity 1s ease;
}

.first-view--off{
    opacity: 0;
    pointer-events: none;
}
.conteiner-inner {
    max-width: 450px;
    margin: 20px;
    padding: 20px;
}

.video {
    display: none;
    width: 100%;
    margin-bottom: 15%;
    max-height: 400px;
}
.video-herz {
}
.video-doner {
}
.video--active{
    display: block;
}
.content {
}

.prg-wrapper{
    text-align: center;
    font-family: "Courier New", Consolas, Monaco, monospace;
    font-size: 30px;
    margin-bottom: 10%;
    font-weight: 900;
    color: rgb(247, 0, 107);
     -webkit-text-stroke: 1px #ffffffcb;
}
.question {
}
.btn-box {
    display: flex;
    justify-content: space-around;
}

.btn{
width: 150px;
height: 70px;
margin: 5px;
background-color: rgb(251, 164, 202);
border: solid 3px rgb(240, 38, 125);
border-radius: 10px;
transition: all .3s;
font-size: 25px;
}
.agree-btn {
}
.disagree-btn {
}