
body{
    background: url("images/1648227142_5-abrakadabra-fun-p-serdechki-fon-yutub-5.png");
}
.conteiner {
    max-width: 450px;
    margin: 0 auto;
}

.video {
    display: none;
    width: 100%;
    margin-bottom: 15%;
}
.video-herz {
}
.video-doner {
}
.video--active{
    display: block;
}
.content {
}

.prg-wrapper{
    text-align: center;
    font-family: "Courier New", Consolas, Monaco, monospace;
    font-size: 25px;
    margin-bottom: 10%;
    font-weight: 900;
    color: rgb(240, 38, 125);
     -webkit-text-stroke: 1px #000000cb;
}
.question {
}
.btn-box {
    display: flex;
    justify-content: space-around;
}

.btn{
width: 100px;
height: 50px;
margin: 5px;
background-color: rgb(251, 164, 202);
border: solid 3px rgb(240, 38, 125);
border-radius: 10px;
transition: all .3s;
}
.agree-btn {
}
.disagree-btn {
}